@keyframes nav {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main-nav {
  align-self: center;

  &--opened {
    animation: nav 0.75s ease-out;
  }
}

.main-nav__list {
  @include reset-list;
}

.main-nav__item {
  padding: 7px 0;

  text-align: center;

  &--contacts {
    color: $color-black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
}

.main-nav__link {
  margin: 0 10px;

  color: $color-black;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid $color-black;
    outline: 0;
  }

  &:active {
    opacity: 0.5;
  }

  &--active {
    cursor: auto;
    font-weight: 700;

    &:hover,
    &:focus {
      border-bottom: 0;
      outline: 0;
    }

    &:active {
      opacity: 1;
    }
  }
}

.main-nav__button {
  position: absolute;
  top: 28px;
  right: 20px;
  z-index: 2;

  width: 40px;
  height: 24px;

  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.main-nav--nojs .main-nav--button {
  display: none;
}

.main-nav__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 4px;

  background-color: $color-black;
  box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
}

@media (max-width: $tablet-max-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav__item {
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__button {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }
}
