.poster {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.poster__wrapper {
  padding: 0 20px;
}

.poster__image {
  display: block;
  max-width: 280px;
  margin: 0 auto;
}

.poster__info {
  text-align: center;
}

.poster__title {
  font-size: 27px;
  font-weight: 800;
  text-transform: uppercase;
}

.poster__date {
  font-size: 16px;
  font-weight: 700;
  line-height: 0;
}

.poster__address {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.poster__details {
  font-size: 16px;
  font-weight: 700;
}

.poster__audio-text {
  font-size: 16px;
  font-weight: 700;
}

.poster__video-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.poster__video {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .poster__image {
    max-width: 400px;
  }
}

@media (min-width: $desktop-width) {
  .poster__image {
    max-width: 500px;
    margin-bottom: 40px;
  }

  .poster__info {
    text-align: left;
  }

  .poster__address {
    width: auto;
    margin: 0;
    margin-bottom: 20px;
  }

  .poster__video {
    width: 450px;
    height: 253px;
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .poster__video {
    width: 280px;
    height: 158px;
  }
}
