.slider {
  text-align: center;
}

.slider__wrapper {
  margin: 0 auto;

  overflow: hidden;
}

.slider__image {
  display: none;
}

.slider__hover {
  display: block;
}

.slider__buttons-wrapper--nojs {
  display: none;
}

.slider__button {
  width: 30px;
  height: 30px;

  border: 0;
  background-color: transparent;
  outline: 0;

  cursor: pointer;
}

.slider__button--prev {
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transform: rotate(-90deg);
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.slider__button--next {
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

@media (max-width: $mobile-width) {
  .slider__wrapper {
    width: 100%;
    height: 210px;
  }
}

@media (min-width: $tablet-width) {
  .slider__wrapper {
    width: 620px;
    height: 440px;
  }
}

@media (min-width: $desktop-width) {
  .slider__wrapper {
    width: 660px;
    height: 440px;
    margin-top: -35px;
    margin-bottom: 20px;
  }
}
