.support {
  max-width: 1170px;
  margin: 0 auto;
}

.support__wrapper {
  padding: 0 20px;
  margin-bottom: 30px;
}

.support__title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
}

.support__contact {
  width: 230px;
  margin-top: 0;
  margin-bottom: 0;
}

.support__contact-link {
  @include link;
}

.support iframe {
  width: 423px;
  height: 220px;
}

.support__paypal-img {
  width: 280px;
  height: 160px;
}

@media (max-width: $tablet-max-width) {
  .support__wrapper {
    text-align: center;
  }

  .support__title {
    font-size: 27px;
  }

  .support__contact {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .support iframe {
    display: block;
    width: 280px;
    height: 227px;
    margin: 0 auto;
  }

  .support__wrapper {
    margin-bottom: 15px;
  }

  .support__title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .support__text {
    margin-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .support__wrapper {
    margin-bottom: 15px;
  }

  .support__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .support__paypal-img {
    width: 375px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .support {
    margin-bottom: 25px;
  }

  .support__title {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .support__text {
    margin-bottom: 25px;
  }

  .support__donate-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
