<footer class="page-footer" id="footer">
  <div class="page-footer__wrapper">
    <h2 class="page-footer__title">Контакты</h2>
    <p class="page-footer__questions">По всем вопросам о предстоящих мероприятих пишите нам на:</p>
    <a class="page-footer__email" href="mailto:info@kandinskyorchestra.ru" target="_blank"
       rel="nofollow">info@kandinskyorchestra.ru</a>
    <p class="page-footer__person">Арт-директор: Филипп&nbspСамутин</p>
    <a class="page-footer__email" href="mailto:art@kandinskyorchestra.ru" target="_blank"
       rel="nofollow">art@kandinskyorchestra.ru</a>
    <!--      <p class="page-footer__person">Отдел кадров: Лидия&nbspБелюнайте</p>-->
    <!--      <a class="page-footer__email" href="mailto:prs@kandinskyorchestra.ru" target="_blank"-->
    <!--         rel="nofollow">prs@kandinskyorchestra.ru</a>-->
    <p class="page-footer__person">Менеджер: Дмитрий&nbspДробко</p>
    <a class="page-footer__email" href="mailto:mng@kandinskyorchestra.ru" target="_blank"
       rel="nofollow">mng@kandinskyorchestra.ru</a>
  </div>
  <div class="page-footer__social social">
    <ul class="social-list">
      <li class="social__item">
        <a class="social__link social__link--facebook" href="https://facebook.com/KandinskyOrchestraPetersburg"
           target="_blank" rel="nofollow">Follow us on Facebook
          <span class="visually-hidden">Facebook</span>
          <svg width="22" height="22">
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--vk" href="https://vk.com/kandinskyorchestra"
           target="_blank" rel="nofollow">Follow us on Vkontakte
          <span class="visually-hidden">Vkontakte</span>
          <svg width="22" height="22">
            <use xlink:href="#icon-vk"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--instagram" href="https://www.instagram.com/kandinsky.orchestra"
           target="_blank" rel="nofollow">Follow us on Instagram
          <span class="visually-hidden">Instagram</span>
          <svg width="22" height="22">
            <use xlink:href="#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
