@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link {
  color: $color-blue;

  &:hover,
  &:focus {
    color: $color-yellow;
  }

  &:active {
    color: $color-pink;
  }
}
